Translation_app/Translation_app/bin/Debug/net6.0-windows/Ctrl_Dll.dll
Translation_app/Translation_app/bin/Debug/net6.0-windows/Ctrl_Dll.pdb
Translation_app/Translation_app/bin/Debug/net6.0-windows/Translation_app.dll
Translation_app/Translation_app/bin/Debug/net6.0-windows/Translation_app.exe
Translation_app/Translation_app/bin/Debug/net6.0-windows/Translation_app.pdb
Translation_app/Translation_app/bin/Release/Translation/Ctrl_Dll.dll
Translation_app/Translation_app/bin/Release/Translation/Ctrl_Dll.pdb
Translation_app/Translation_app/bin/Release/Translation/Translation_app.deps.json
Translation_app/Translation_app/bin/Release/Translation/Translation_app.dll
Translation_app/Translation_app/bin/Release/Translation/Translation_app.exe
Translation_app/Translation_app/bin/Release/Translation/Translation_app.pdb
Translation_app/Translation_app/bin/Release/Translation/Translation_app.runtimeconfig.json
